<br><br>
<div class="container">
    <form action="">
        <div class="form-group"><!-- 
            <label for="nombre">Nombre </label> -->
            <input type="text" name="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="alumno.nombre">
        </div>

        <div class="form-group">
            <!-- <label for="apellido">Apellido</label> -->
            <input type="text" name="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="alumno.apellido">
        </div>

        <div class="form-group">
            
            <select name="excelencia" id="" class="form-control" [(ngModel)]="alumno.excelencia">
                <option value="true">Si</option>
                <option value="false">No</option>
            </select>
        </div>
        
        <button class="btn btn-primary" (click)="agregar()">Agregar</button>
    </form>
    <br>
    <div class="card" *ngFor="let alum of listadoAlumnos">
        <div class="card-body">
           <span [ngClass]="{'excelenciaColor': alum.excelencia}"><b>Alumno:</b></span>
               {{alum.nombre}} {{alum.apellido}}
             
        </div>
    </div>


</div>
