.productos{
    border: 1px solid pink;
    padding: 5px;
    margin-top: 5px;
}

.tab{
    border: 1px solid #097;
    width: 150px;
    height:100px;
    padding: 5px;
}

.tabCont{
    border: 1px solid #097;
    width: 90%;
    height:75%;
    margin: auto;

}

.cuadrado{
    width: 150px;
    height: 150px;
    background: #c059c034;
}

.textImport{
    color: #6b0f6be3;
    font-family: sans-serif;
}

.bigText{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}